#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.characters-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.character-item {
  margin: 1rem;
  flex: 0 0 calc(33.33% - 2rem); 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}

.character-image {
  width: 100%;
  max-width: 150px; 
  height: auto;
  display: block;
  margin: 0 auto;
}
